body {
    background-color: skyblue;
    font-weight: 600;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
.links-internos {
   font-weight: 700;
   color: darkblue;
   list-style-image: linear-gradient(to left bottom, red, blue);
   text-decoration: none;
   
}
h1 {
    background-color: tan;
   color: darkolivegreen;
   text-align: center;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 50px;
   padding: 50px;
   border: 2px solid #5D6063;
}

img {
   display: block;
   margin: 0 auto;
   
}
p {
   font-size: 20px;
   margin-bottom: 1,5em;
   line-height: 1,4em;
   text-align: center;
   font-family: 'Gemunu Libre', sans-serif;
   background-color: darkkhaki;
}
h3 {
text-align: center;
font-family: 'Gemunu Libre', sans-serif;
background-color: #B2D6FF;
display: block;
}

.personal-contents {
    background-color: indianred;
}

.henrique-contents {
    background-color: orange;
}

.goals-contents {
    background-color: saddlebrown;
}
div {
    border: 2px solid green;
}